<div class="description">{{{description}}}</div>
<div class="slide">
    <div class="gallery">
        {{#items}}
        <div class="item"><img style="height:{{active}}px" src="/img-auto-709/assets/pages/{{link}}/{{.}}" alt=""/></div>
        {{/items}}
    </div>
</div>