/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/abr/2016, 22:19:03
    Author     : fabio menezes
*/
.gallery {
    
}
.gallery .item {
    margin: 2em auto;
    cursor:pointer;
    opacity:0.5;
}
.gallery .item div {
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    border-radius: 4px;
}
.gallery .item.add,
.gallery .item:hover {
    opacity:1;
}
.gallery .item.add div {
    background-color: cornflowerblue;
    color: white;
    font-size: 8em;
    text-align:center;
    line-height: 2em;
}