/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/abr/2016, 22:19:03
    Author     : fabio menezes
*/
.gallery {
    
}
.gallery .item {
    margin: 1em auto;
    cursor:pointer;
    opacity:0.5;
}
.gallery .item a {
    display:block;
}
.gallery .item div,
.gallery .item label  {
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    border-radius: 4px;
    margin: 0;
}
.gallery .item.add,
.gallery .item.delete,
.gallery .item:hover {
    opacity:1;
}
.gallery .item.add {
    display: table;
}
.gallery .item.add .fa {
    cursor:pointer;
}
.gallery .item.add,
.gallery .item.delete {
    cursor: initial;
}
.gallery .item.add .fa {
    background-color: cornflowerblue;
}
.gallery .item.delete .fa {
    background-color: red;
}
.gallery .item .fa {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    text-align: center;
    color:white;
}
.gallery .item .fa:before {
    font-size: 5em;
}
.gallery .item.add .fa-plus:before {
    content: "\f067";
}
.gallery .item span {
    position: absolute;
    top: 73%;
    left: 0;
    width: 100%;
    padding: 0 13%;
}
.form-group {
    padding:10px;
}
input[type="color"] {
    background-color: transparent;
    border: none;
    width: 4em;
    cursor: pointer;
    height: 3em;
}


@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) { 
    .gallery .item.add .fa-plus {
        font-size: 5em;
    }
    .gallery .item.fa-trash div {
        font-size: 1.2em;
    }
    .fa-trash:before {
        font-size: 4em;
    }
}

.gallery .item div:after {
    content: attr(title);
    position: absolute;
    top: 38%;
    width: 82%;
    text-align: center;
    color: white;
    font-size: 2em;
}
.gallery .item.loading div:after {
    content: 'uploading...';
    position: absolute;
    top: 0;
    width: 88%;
    text-align: center;
    line-height: 5em;
    font-size: 3em;
    color: white;
    background-color: #0000002b;
}