/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/mar/2016, 21:38:08
    Author     : André
*/
@font-face {
    font-family: code-bold;
    src: url(../fonts/BebasNeue-Bold.otf);
}
@font-face {
    font-family: code-light;
    src: url(../fonts/BebasNeue-Light.otf);
}
@font-face {
    font-family: 'Engschrift';
    src: url("../fonts/subset-engschriftcaps.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    letter-spacing: 0;
    font-family: code-bold, serif;
}

body{ scroll-behavior: smooth; }
body.body {
    margin:0;
    padding:0;
    font-size: 0.9vw;
    height: 100vh;
}
body .content,
body .menu,
body .title,
body .footer {
    contain: content;
}
.main {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.slide {
    width:100%;
    height: 100%;
    overflow-x: scroll;
    right:0;
    display: block;
    padding: 2em 0;
    cursor: pointer;
}
.slide::-webkit-scrollbar {
    display: none;
}
.gallery {
    display: table;
    height: 100%;
}

.gallery .item {
    margin: 0;
    padding: 0;
    position:relative;
}
.gallery .item img {
    width: auto;
    height: 73.8vh;
    padding: 0;
    margin: 0;
    border-right-width: 0;
    border-left: 8px solid white;
	pointer-events: none;
}
.gallery .item:first-child img {
    border-left-width: 0;
}
.gallery .item:last-child img {
    border-right:none;
}
.gallery .item.view img:after {
    content: attr(title);
    position:absolute;
}
.gallery figcaption {
    bottom: 7px;
    left: 13px;
    position: absolute;
    color: rgba(255, 255, 255, 0.36);
}
.nav {
    text-transform: capitalize;
    margin-left: 10px;
}
body .nav>li>a {
    color: black;
}
body .nav>li>a:hover,
body .nav>li>a:focus {
    background-color: transparent;
}
body .nav>li>a {
    display: inline-block;
    padding: 0;
}
.nav>li>a.active {
    color: white;
}
.nav>li>a.active > span,
.nav>li>a:hover > span {
    z-index: 2;
}
.nav>li>a {
    font-size: 346%;
    line-height: 100%;
}
.nav>li>a >  span {
    line-height: 50%;
    font-weight: 600;
    font-size: 97%;
}
.nav>li>a.active > div,
.nav>li>a:hover > div {
    position: absolute;
    background-color: black;
    z-index: -1;
    top: -6%;
    left: -5px;
    right: -5px;
    bottom: 3%;
}
body .nav>li>a:focus {
    color: black;
}
body .nav>li>a:hover,
body .nav>li>a.active:focus{
    color: white;
}


.menu {
    top: 0;
}


body .content {
    top: 0;
    padding-left:0;
    padding-right: 0;
}
.author {
    color: white;
    padding: 4em 0 10px 0;
}
.author h1,
.author h2 {
    margin: 0;
    text-transform: capitalize;
    font-size: 22px;
}
.author h1 {
    color: white;
    font-size: 3.5em;
    line-height: 48px;
}
.author h2 {
    display: none;
}
.slide .item {
    display: table-cell;
    background-color: white;
}
body a, body a:hover, body a:focus {
    text-decoration: none;
}
.description {
    display: none;
}
.title {
    background-color: black;
    text-align: center;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.8em;
    font-size: 1.2em;
    position: fixed;
    bottom: 0;
    width: 100vw;
    letter-spacing: 0.1875rem;
}
.footer a {
    display: inline-block;
    padding-right: 1em;
    letter-spacing: 0.1875rem;
}
.title a, .title a:hover, .title a:visited,
.footer a, .footer a:hover,  .footer a:visited {
    color: white;
}
.extra {
    font-size: 120%;
    padding: 7% 0;
    margin-left: 6px;
}
.extra a {
    position: relative;
    display: inline-block;
}
.extra a,
.extra a:focus {
    color: black;
    padding: 0 3px;
}
.extra a:hover {
    color: white;
}
.extra a:hover div {
    position: absolute;
    background-color: black;
    z-index: -1;
    top: 9%;
    left: 1px;
    right: 1px;
    bottom: 15%;
}

body .menu {
    display: block;
    padding: 0;
}
.inside {
    margin: auto 0;
    height: 100%;
    display: table;
    vertical-align: middle;
}
.inside .middle {
    display: table-cell;
    vertical-align: middle;
}
.external {
    margin-left: 2px;
}
.external a:after {
    width: 2.5em;
    height: 2.5em;
    display: block;
    content: ' '
}
.external a {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    display: inline-block;
    margin-right: 0.5em;
}
.external .facebook {
    background-image: url(/assets/img/facebook.png);
}
.external .instagram {
    background-image: url(/assets/img/instagram.png);
}
.external .share {
    background-image: url(/assets/img/share.svg);
    height: 1.7em;
    margin-bottom: 0.46em;
}
.external a span {
    display: none;
}
.audio {
    position: fixed;
    top: 3px;
    right: 3px;
    text-align: center;
    width: 26px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
}
.audio.play {
    background-image: url(/assets/img/audio_on.png);
}
.audio {
    background-image: url(/assets/img/audio_off.png);
}
/*
.footer:hover .audio {
    visibility: visible;
}*/
@media (max-width: 767px) {
    .col-lg-9 {
        width: 75%;
        float: left;
    }
    .col-lg-3 {
        width: 25%;
        float: left;
    }
}
body .nav>li>a[title=design] {
	display: none;
}

/*
@media (max-height: 468px) {
    .nav>li>a {
        font-size: 1.2em;
    }
    body .menu {
        overflow-y: scroll;
    }
}
@media (max-height: 469px) {
    .nav>li>a {
        font-size: 1.4em;
    }
}
@media (max-height: 700px) {
    .nav>li>a {
        font-size: 1.6em;
    }
}*/