
AuthType Basic
AuthName "SandraBranco Backoffice"
AuthUserFile B:\httpd\sbranco\admin\.htpasswd
Require valid-user
# user sbranco
# pass sbranco87admin
<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /
        # Directs all EE web requests through the site index file
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)$ /admin/index.php/$1 [L]
</IfModule>

