{{#pages}}
<div class="griditem">
    <a class="hovereffect" href="https://sandrabranco.org/{{link}}">
        <img class="img-fluid" title="PRINT" src="/img-auto-732/assets/pages/{{link}}/{{items.0}}" width="600" height="338" alt="" />
        <div class="imgoverlay">
            <h2>{{{encoded_title}}}</h2>
        </div>
    </a>
</div>
{{/pages}}