<div draggable="true" ondragend="Gallery.drop(this)" onmouseup="Gallery.drop(this)" ondragstart="Gallery.dragstart(event)" ondragenter="Gallery.dragenter(event);"
     style="background-image:url({{image}});">
    <input data-menu="{{menu}}" type="hidden" name="page[items][]" value="{{name}}" />
</div>