<div class="share"><a href="https://www.facebook.com/sharer/sharer.php?u=https://sandrabranco.org" target="_blank"></a></div>
<div class="slide">
<div class="gallery">
    {{#pages}}
    <div class="item">
        <a aria-label="{{clear_title}}" data-index="{{link}}" href="/{{link}}" title="{{clear_title}}">
            <div>
                <img src="/img-360-auto/assets/pages/{{link}}/{{items.0}}" />
                <span>{{{encoded_title}}}</span>
            </div>
        </a>
    </div>
    {{/pages}}
</div>
</div>