<div class="description">{{{description}}}</div>
<div class="slide">
<div class="share"><a rel="noopener" aria-label="share to facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://sandrabranco.org/{{link}}" target="_blank"></a></div>
<div class="gallery">
    {{#items}}
    <div class="item"><img src="/img-auto-732/assets/pages/{{link}}/{{.}}" alt=""/></div>
    {{/items}}
</div>
</div>